<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/homepage.css">
    <title>Transform Form to Pdf</title>
</head>
<body>
    <div class="chooseFormContainer">
        <h1>Transform Form to Pdf</h1>
        <div class="chooseFormContent">
            <div class="form1">
                <p>ฟอร์มที่ 1</p>
                <button class="fillIn">กรอกฟอร์ม</button>
            </div>

            <div class="form2">
                <p>ฟอร์มที่ 2</p>
                <button class="fillIn">กรอกฟอร์ม</button>
            </div>
            
            <div class="form3">
                <p>ฟอร์มที่ 3</p>
                <button class="fillIn">กรอกฟอร์ม</button>
            </div>
        </div>
    </div>
</body>
</html>